In [1]:
import pandas as pd

# filter generalModelSection

In [79]:
data = pd.read_csv('general_model_full.csv')
data.head()

,id,section,parking_space,construction_time,trade_time,age,unit_price_ping,area,trasaction_floor,total_floor,...,partition,mgmt,min_inci,min_hos,min_mrt,min_mart,min_gas,min_school,min_park,yearMonth
0,2,1,0,820504,1011122,19,115937.7118,30.878789,二層,十三層,...,1,1,3.216651,2.360415,6.347960,0.421408,0.259130,0.311712,0.082275,101-11
1,3,1,1,850923,1020204,17,234202.7068,59.350563,二十四層,三十層,...,1,1,8.482000,1.320465,0.893130,0.957701,0.794212,0.069713,0.854684,102-02
2,6,1,0,700820,1031209,33,103878.1534,24.066766,二層,二層,...,1,0,2.242399,3.157690,7.202395,1.384427,1.237124,1.259014,0.942919,103-12
3,7,1,0,690325,1040913,35,110000.4950,73.568000,全,二層,...,1,0,2.096059,3.258152,7.277277,1.657483,1.468159,1.413863,1.211620,104-09
4,8,1,0,690325,1090923,40,99940.9456,80.047632,全,二層,...,1,0,2.094389,3.259394,7.277268,1.665824,1.474884,1.416363,1.219951,109-09

# data.columns

In [6]:
data = data.drop(columns = {'construction_time', 'trade_time', 'trasaction_floor', 'total_floor', 'floor', 'yearMonth'})

In [7]:
data['section'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 16, 26, 27, 28], dtype=int64)

In [8]:
groupby = data.groupby('section')

In [9]:
groupby.size()

section
1      3736
2      2799
3     19959
4     10666
5      6255
6     11920
7     20248
8     19579
9      9089
10     3287
11        1
12       53
13       42
14    20130
15      724
16      888
17        1
18     7490
19     3299
20    17117
21       62
22    42922
23     1363
24    22028
25      508
26     6888
27       39
28     2575
dtype: int64

In [10]:
testSection = groupby.get_group(2)
testSection

,id,section,parking_space,age,unit_price_ping,area,type,room,lr,bath,partition,mgmt,min_inci,min_hos,min_mrt,min_mart,min_gas,min_school,min_park
3736,4243,2,0,45,416094.4344,34.848015,2,3,1,1,1,0,18.680755,3.858966,10.864320,8.973777,2.477294,2.112907,2.071119
3737,4244,2,0,19,69177.1708,25.297477,4,1,1,1,1,1,19.442076,5.571146,12.337194,9.887143,0.358713,0.268762,0.357144
3738,4245,2,0,24,117795.5714,25.298179,3,2,1,1,1,0,19.442076,5.571146,12.337194,9.887143,0.358713,0.268762,0.357144
3739,4246,2,0,22,100797.1478,25.298449,3,2,1,1,1,0,19.442076,5.571146,12.337194,9.887143,0.358713,0.268762,0.357144
3740,4247,2,0,20,90916.1116,25.298160,3,2,1,1,1,0,19.442076,5.571146,12.337194,9.887143,0.358713,0.268762,0.357144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6530,7264,2,0,31,108734.3736,40.465767,2,3,2,2,1,0,19.960872,5.678834,12.589998,10.339608,1.005961,1.029615,1.083684
6531,7265,2,0,32,181756.1898,41.814445,2,1,2,2,1,0,19.841508,5.716761,12.579672,10.247074,0.715902,0.747944,0.843578
6532,7266,2,0,33,119577.3976,41.814110,2,4,2,2,1,0,19.839633,5.718239,12.580095,10.245806,0.710002,0.742443,0.839383
6533,7267,2,0,36,131815.4692,62.208457,2,4,2,3,1,0,19.830665,5.719976,12.578340,10.238703,0.690827,0.723686,0.823842
144088,232513,2,0,15,209997.6392,18.095520,4,1,1,1,1,1,16.621851,5.145714,10.632356,7.460424,3.249585,2.894680,1.000516

In [11]:
for i in range(1,29) :
    data = groupby.get_group(i)
    data.to_csv(f'generalModelSection/section{i}.csv', index = False, encoding = 'utf-8')

# filter generalModel

In [18]:
generalModel = pd.read_csv('general_model_full.csv')
generalModel.head()

,id,section,parking_space,construction_time,trade_time,age,unit_price_ping,area,trasaction_floor,total_floor,...,partition,mgmt,min_inci,min_hos,min_mrt,min_mart,min_gas,min_school,min_park,yearMonth
0,2,1,0,820504,1011122,19,115937.7118,30.878789,二層,十三層,...,1,1,3.216651,2.360415,6.347960,0.421408,0.259130,0.311712,0.082275,101-11
1,3,1,1,850923,1020204,17,234202.7068,59.350563,二十四層,三十層,...,1,1,8.482000,1.320465,0.893130,0.957701,0.794212,0.069713,0.854684,102-02
2,6,1,0,700820,1031209,33,103878.1534,24.066766,二層,二層,...,1,0,2.242399,3.157690,7.202395,1.384427,1.237124,1.259014,0.942919,103-12
3,7,1,0,690325,1040913,35,110000.4950,73.568000,全,二層,...,1,0,2.096059,3.258152,7.277277,1.657483,1.468159,1.413863,1.211620,104-09
4,8,1,0,690325,1090923,40,99940.9456,80.047632,全,二層,...,1,0,2.094389,3.259394,7.277268,1.665824,1.474884,1.416363,1.219951,109-09

In [19]:
generalModel.shape

(233668, 25)

In [20]:
generalModel.columns

Index(['id', 'section', 'parking_space', 'construction_time', 'trade_time',
       'age', 'unit_price_ping', 'area', 'trasaction_floor', 'total_floor',
       'floor', 'type', 'room', 'lr', 'bath', 'partition', 'mgmt', 'min_inci',
       'min_hos', 'min_mrt', 'min_mart', 'min_gas', 'min_school', 'min_park',
       'yearMonth'],
      dtype='object')

In [21]:
generalModel = generalModel.drop(columns = {'construction_time', 'trade_time', 'yearMonth', 'trasaction_floor', 'total_floor', 'floor'}, axis = 1)

In [23]:
generalModel.to_csv('generalModel.csv', index = False, encoding = 'utf-8')

# filter generalModelType

In [25]:
generalModelType = pd.read_csv('general_model_full.csv')
generalModelType.head()

,id,section,parking_space,construction_time,trade_time,age,unit_price_ping,area,trasaction_floor,total_floor,...,partition,mgmt,min_inci,min_hos,min_mrt,min_mart,min_gas,min_school,min_park,yearMonth
0,2,1,0,820504,1011122,19,115937.7118,30.878789,二層,十三層,...,1,1,3.216651,2.360415,6.347960,0.421408,0.259130,0.311712,0.082275,101-11
1,3,1,1,850923,1020204,17,234202.7068,59.350563,二十四層,三十層,...,1,1,8.482000,1.320465,0.893130,0.957701,0.794212,0.069713,0.854684,102-02
2,6,1,0,700820,1031209,33,103878.1534,24.066766,二層,二層,...,1,0,2.242399,3.157690,7.202395,1.384427,1.237124,1.259014,0.942919,103-12
3,7,1,0,690325,1040913,35,110000.4950,73.568000,全,二層,...,1,0,2.096059,3.258152,7.277277,1.657483,1.468159,1.413863,1.211620,104-09
4,8,1,0,690325,1090923,40,99940.9456,80.047632,全,二層,...,1,0,2.094389,3.259394,7.277268,1.665824,1.474884,1.416363,1.219951,109-09

In [26]:
generalModelType.columns

Index(['id', 'section', 'parking_space', 'construction_time', 'trade_time',
       'age', 'unit_price_ping', 'area', 'trasaction_floor', 'total_floor',
       'floor', 'type', 'room', 'lr', 'bath', 'partition', 'mgmt', 'min_inci',
       'min_hos', 'min_mrt', 'min_mart', 'min_gas', 'min_school', 'min_park',
       'yearMonth'],
      dtype='object')

# filter timeModel

In [27]:
timeModel = pd.read_csv('general_model_full.csv')
timeModel.head()

,id,section,parking_space,construction_time,trade_time,age,unit_price_ping,area,trasaction_floor,total_floor,...,partition,mgmt,min_inci,min_hos,min_mrt,min_mart,min_gas,min_school,min_park,yearMonth
0,2,1,0,820504,1011122,19,115937.7118,30.878789,二層,十三層,...,1,1,3.216651,2.360415,6.347960,0.421408,0.259130,0.311712,0.082275,101-11
1,3,1,1,850923,1020204,17,234202.7068,59.350563,二十四層,三十層,...,1,1,8.482000,1.320465,0.893130,0.957701,0.794212,0.069713,0.854684,102-02
2,6,1,0,700820,1031209,33,103878.1534,24.066766,二層,二層,...,1,0,2.242399,3.157690,7.202395,1.384427,1.237124,1.259014,0.942919,103-12
3,7,1,0,690325,1040913,35,110000.4950,73.568000,全,二層,...,1,0,2.096059,3.258152,7.277277,1.657483,1.468159,1.413863,1.211620,104-09
4,8,1,0,690325,1090923,40,99940.9456,80.047632,全,二層,...,1,0,2.094389,3.259394,7.277268,1.665824,1.474884,1.416363,1.219951,109-09

In [28]:
timeModel.shape

(233668, 25)

In [29]:
timeModel = timeModel.drop(columns = {'construction_time', 'trade_time', 'trasaction_floor', 'total_floor', 'floor'})

In [32]:
timeModel.columns

Index(['id', 'section', 'parking_space', 'age', 'unit_price_ping', 'area',
       'type', 'room', 'lr', 'bath', 'partition', 'mgmt', 'min_inci',
       'min_hos', 'min_mrt', 'min_mart', 'min_gas', 'min_school', 'min_park',
       'yearMonth'],
      dtype='object')

In [33]:
timeModel.to_csv('timeModel.csv', index = False, encoding = 'utf-8')

# filter timeModelSection

In [34]:
timeModelSection = pd.read_csv('general_model_full.csv')
timeModelSection.head()

,id,section,parking_space,construction_time,trade_time,age,unit_price_ping,area,trasaction_floor,total_floor,...,partition,mgmt,min_inci,min_hos,min_mrt,min_mart,min_gas,min_school,min_park,yearMonth
0,2,1,0,820504,1011122,19,115937.7118,30.878789,二層,十三層,...,1,1,3.216651,2.360415,6.347960,0.421408,0.259130,0.311712,0.082275,101-11
1,3,1,1,850923,1020204,17,234202.7068,59.350563,二十四層,三十層,...,1,1,8.482000,1.320465,0.893130,0.957701,0.794212,0.069713,0.854684,102-02
2,6,1,0,700820,1031209,33,103878.1534,24.066766,二層,二層,...,1,0,2.242399,3.157690,7.202395,1.384427,1.237124,1.259014,0.942919,103-12
3,7,1,0,690325,1040913,35,110000.4950,73.568000,全,二層,...,1,0,2.096059,3.258152,7.277277,1.657483,1.468159,1.413863,1.211620,104-09
4,8,1,0,690325,1090923,40,99940.9456,80.047632,全,二層,...,1,0,2.094389,3.259394,7.277268,1.665824,1.474884,1.416363,1.219951,109-09

In [36]:
timeModelSection.shape

(233668, 25)

In [37]:
timeModelSection = timeModelSection.drop(columns = {'construction_time', 'trade_time', 'trasaction_floor', 'total_floor', 'floor'})

In [38]:
timeModelSection['section'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 16, 26, 27, 28], dtype=int64)

In [39]:
groupby = timeModelSection.groupby('section')

In [41]:
groupby.size()

section
1      3736
2      2799
3     19959
4     10666
5      6255
6     11920
7     20248
8     19579
9      9089
10     3287
11        1
12       53
13       42
14    20130
15      724
16      888
17        1
18     7490
19     3299
20    17117
21       62
22    42922
23     1363
24    22028
25      508
26     6888
27       39
28     2575
dtype: int64

In [42]:
for i in range(1,29) :
    data = groupby.get_group(i)
    data.to_csv(f'timeModelSection/timeSection{i}.csv', index = False, encoding = 'utf-8')

In [65]:
test = pd.read_csv('../ultimate_table.csv', encoding = 'ANSI')

In [67]:
test.shape

(367193, 32)

In [68]:
test.columns

Index(['Unnamed: 0', 'id', 'section', 'addr', 'lon', 'lat', 'parking_space',
       'construction_time', 'trade_time', 'age', 'total_price',
       'unit_price_ping', 'unit_price_square_m', 'area', 'trasaction_floor',
       'total_floor', 'floor', 'type', 'room', 'lr', 'bath', 'partition',
       'mgmt', 'lift', 'purpose', 'min_inci', 'min_hos', 'min_mrt', 'min_mart',
       'min_gas', 'min_school', 'min_park'],
      dtype='object')

In [69]:
test.addr.value_counts()

新北市萬里區翡翠路１８號                84
新北市新店區安興路９５巷６０號二樓           29
新北市新店區安興路９５巷２７號             28
新北市林口區民富街９１號二樓              19
新北市淡水區新春街１４６之１３號            17
                            ..
新北市中和區大勇街９２號１５樓              1
新北市林口區文化北路一段５４２巷３７弄３０號十樓     1
新北市新店區僑愛六路１２號                1
新北市林口區文化三路二段５８號二十七樓          1
新北市三峽區中山路３９８號二樓之一            1
Name: addr, Length: 335507, dtype: int64

In [71]:
test[test['addr'].str.contains('新北市萬里區翡翠路１８號')]

,Unnamed: 0,id,section,addr,lon,lat,parking_space,construction_time,trade_time,age,...,mgmt,lift,purpose,min_inci,min_hos,min_mrt,min_mart,min_gas,min_school,min_park
334666,334667,334667,萬里區,新北市萬里區翡翠路１８號,121.68393,25.188502,房地(土地+建物),860221,1090523,23,...,有,NaN,商業用,29.722879,6.569126,14.221117,5.645009,6.186226,1.336311,1.333708
334667,334668,334668,萬里區,新北市萬里區翡翠路１８號,121.68393,25.188502,房地(土地+建物)+車位,860221,1090527,23,...,有,NaN,商業用,29.722879,6.569126,14.221117,5.645009,6.186226,1.336311,1.333708
334668,334669,334669,萬里區,新北市萬里區翡翠路１８號,121.68393,25.188502,房地(土地+建物),860221,1090529,23,...,有,NaN,商業用,29.722879,6.569126,14.221117,5.645009,6.186226,1.336311,1.333708
334669,334670,334670,萬里區,新北市萬里區翡翠路１８號,121.68393,25.188502,房地(土地+建物),860221,1090225,23,...,有,NaN,商業用,29.722879,6.569126,14.221117,5.645009,6.186226,1.336311,1.333708
334670,334671,334671,萬里區,新北市萬里區翡翠路１８號,121.68393,25.188502,房地(土地+建物),860221,1090228,23,...,有,NaN,商業用,29.722879,6.569126,14.221117,5.645009,6.186226,1.336311,1.333708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334751,334752,334752,萬里區,新北市萬里區翡翠路１８號,121.68393,25.188502,房地(土地+建物),860221,1090726,23,...,有,有,商業用,29.722879,6.569126,14.221117,5.645009,6.186226,1.336311,1.333708
334752,334753,334753,萬里區,新北市萬里區翡翠路１８號,121.68393,25.188502,房地(土地+建物)+車位,860221,1090809,23,...,有,有,商業用,29.722879,6.569126,14.221117,5.645009,6.186226,1.336311,1.333708
334753,334754,334754,萬里區,新北市萬里區翡翠路１８號,121.68393,25.188502,房地(土地+建物),860221,1090807,23,...,有,有,商業用,29.722879,6.569126,14.221117,5.645009,6.186226,1.336311,1.333708
334754,334755,334755,萬里區,新北市萬里區翡翠路１８號,121.68393,25.188502,房地(土地+建物),860221,1090815,23,...,有,有,商業用,29.722879,6.569126,14.221117,5.645009,6.186226,1.336311,1.333708
334755,334756,334756,萬里區,新北市萬里區翡翠路１８號,121.68393,25.188502,房地(土地+建物),860221,1090814,23,...,有,有,商業用,29.722879,6.569126,14.221117,5.645009,6.186226,1.336311,1.333708

In [74]:
test.iloc[334667, :]

Unnamed: 0                                                        334668
id                                                                334668
section                                                              萬里區
addr                                                        新北市萬里區翡翠路１８號
lon                                                            121.68393
lat                                                            25.188502
parking_space                                               房地(土地+建物)+車位
construction_time                                                 860221
trade_time                                                       1090527
age                                                                   23
total_price                                                      1680000
unit_price_ping                                              126076.6004
unit_price_square_m                                               38,138
area                                                            13.32529
trasaction_floor       一層，二層，三層，四層，五層，六層，七層，八層，九層，十層，十一層，十二層，十三層，十四層，十五層
total_floor                                                          十八層
floor                                                                NaN
type                                                     住宅大樓(11層含以上有電梯)
room                                                                   1
lr                                                                     0
bath                                                                   1
partition                                                              有
mgmt                                                                   有
lift                                                                 NaN
purpose                                                              商業用
min_inci                                                       29.722879
min_hos                                                         6.569126
min_mrt                                                        14.221117
min_mart                                                        5.645009
min_gas                                                         6.186226
min_school                                                      1.336311
min_park                                                        1.333708
Name: 334667, dtype: object

In [77]:
test.purpose = ''

array(['住家用', '住商用', '見其他登記事項', '商業用', '集合住宅', '一般事務所', '店舖、住宅、停車空間',
       '工業用', '店舖', '一般服務業', '醫療保健設施（診所）', '補習班', '住宅、停車空間', '店舖、住宅',
       '店舖﹐住宅﹐防空避難室', '辦公室', '工商用', '住宅', '廠房﹐辦公室﹐單身宿舍﹐避難室',
       '一般商業設施（一般事務所）', '辦公室﹐工廠﹐倉庫﹐單身宿舍', '技術服務業', '水箱﹐住宅﹐店舖﹐樓梯間',
       '店舖、自用儲藏室', '作業廠房、停車空間', '廠房﹐辦公室﹐單身宿舍', '單身宿舍﹐辦公室﹐廠房',
       '一般商業設施（一般零售業，一般事務所）停車空間', '一般商業設施（一般服務業）', '廠房﹐室內停車間', '住工用', nan,
       '店舖﹐住宅﹐儲藏室﹐地下室', '集合住宅、機房', '單身員工宿舍﹐廠房﹐辦公室',
       '廠房﹐單身宿舍﹐避難室﹐室內停車間﹐辦公室', '住宅，防空避難室', '辦公室，倉庫，廠房',
       '宿舍﹐工廠﹐水塔﹐辦公室﹐避難室﹐屋頂突出物', '店舖﹐室內停車間﹐住宅﹐避難室', '工業產品展示服務業',
       '辦公室﹐廠房﹐屋頂突出物﹐避難室', '辦公類場所', '國民住宅', '農舍',
       '小型社區式日間照顧及重建服務（９１．４９平方公尺）、停車空間（３３．９９平方公尺）', '店舖 、住宅', '鄉村住宅，停車空間',
       '店鋪', '住宅、自用儲藏室', '店舖、集合住宅', '一般零售業', '見使用執照', '廠房', '創業管理技術服務業',
       '作業廠房', '工廠', '辦公室、加油泵島', '集合住宅、停車空間', '工業發展有關設施（工業產品展示服務業）',
       '資訊休閒服務場所', '一般商業設施〈一般事務所〉', '住宅、室內停車位', '廠房、辦公室', '廠房、辦公室、宿舍',
       '一般事務所、自由職業事務所', '一般商業設施', '一般商業使用﹝自由職業事務所﹞', '廠房、辦公室、單身宿舍',
       '店舖、辦公室', '防空避難室，屋頂突出物，宿舍，辦公室，水箱，廠房', '一般工廠（廠房）', '作業廠房，辦公室',
       '商場、辦公室', '停車空間', '事務所', '旅館', '儲藏室、店舖、室內停車位', '住宅及停車空間',
       '室內停車位、店舖、住宅', '辦公室，單身宿舍，廠房，其他', '防空避難室．辦公室．倉庫．廠房',
       '防空避難室兼停車空間、廠房、員工宿舍、辦公室、裝卸位停車', '廠房、辦公室、防空避難室', '廠房、防空避難室',
       '廠房．辦公室．防空避難室．御裝場', '廠房．辦公室', '日用品零售或服務業', '廠房，辦公室，單身宿舍',
       '辦公室、廠房、倉庫', '辦公室，宿舍，廠房', '住宅，集合住宅', '健身中心', '機械屋', '一般辦公室',
       '店舖、儲藏室。', '共有部分', '一般廠房', '一般事務所、集合任宅', '鄉村住宅、停車空間',
       '日用品零售及服務設施（營業及辦公處所）', '鄉村住宅', '其他日用品零售業及服務業', '店舖、儲藏室、住宅',
       '店舖、起居室', '商場', '一般零售或服務業', '日常用品零售場所', '工廠、辦公室、防空避難室',
       '店舖（一般零售或服務業）、辦公室（事務所及工商服務業）', '住宅、日用品零售或服務業', '日用品零售業、集合住宅',
       '日用品零售業', '一般零售業、住宅', '日用品零售業店舖', '日用品零售或服務業、集合住宅',
       '一般零售或服務業（附屬辦公室）', '事務所及工商服務業', '一般零售業或服務業', '一般零售或服務業、事務所及工商服務業',
       '住宅，停車空間', '住宅、停車場', '集合住宅、機械室', '集合住宅、機電空間', '集合住宅，倉庫間', '住宅、樓梯間',
       '短期補習班', '廠房及附屬辦公室', '辦公室，廠房，單身宿舍', '住宅．儲藏室．停車場', '集合住宅、自用儲藏室',
       '停車間．住宅', '自用儲藏室', '防空避難室、店舖', '貯藏室', '一般工廠', '住宅．停車間', '店舖．儲藏室',
       '旅館﹝客房﹞', '自用住宅', '購物服務設施（一般零售業）', '工商服務業（工商服務及展覽業）', '會議服務設施',
       '住宅．停車空間', '住宅、停車空間、梯間', '住宅、停車空間、梯間、水箱', '小型事務所．', '鄉村住宅．機房．停車空間',
       '鄉村住宅．停車空間．機房', '住宅．停車位', '辦公室（廳）', '一般商業設施〈一般服務業〉', '社區住宅',
       '廠房，辦公室，單身員工宿舍', '廠房，辦公室', '辦公室，單身宿舍', '住宅，店舖，人行道', '店鋪、走道', '托兒所',
       '公害較輕微之工業（一般廠庫）', '辦公室，倉庫，單身員工宿舍，廠房', '廠房，倉庫，辦公室，單身員工宿舍', '診所',
       '事務所或工商服務業', '店鋪、住宅', '工廠，辦公室，單身宿舍', '廠房、停車間', '廠房及避難室',
       '停車間、廠房、倉庫、辦公室、宿舍', '廠房、避難室、辦公室', '工廠、車道、停車間、辦公室', '宿舍、辦公室、廠房',
       '作業廠房、辦公室、員工宿舍', '避難室、宿舍、辦公室、倉庫、廠房', '廠房、辦公室、防空避難室、宿舍',
       '一、二層廠房、三層辦公室、四層單身宿舍', '一般商業設施〈一般事務所〉、停車空間', '辦公室、停車空間',
       '廠房、辦公室、宿舍、瞭望台', '走道、廠房、避難室、辦公室', '住家、停車間', '廠房、辦公室、倉庫、單身員工宿舍',
       '鄉村住宅及日用品零售店', '工廠（機械製造廠）', '集合住宅（地下一層，自用儲藏室）', '停車空間，集合住宅',
       '廠房、辦公室、宿舍、避難室', '廠房、辦公室、走道、宿舍、餐廳', '住宅﹐室內停車間', '店鋪、一般事務所',
       '店舖、儲藏室', '廠房、宿舍、防空避難室', '工廠、辦公室、停車場、宿舍', '日常用品零售及服務設施',
       '店舖、住宅、樓梯間', '店鋪、集合住宅', '停車空間、辦公室、集合住宅'], dtype=object)