In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('general_model_full.csv')
data

,id,section,parking_space,construction_time,trade_time,age,unit_price_ping,area,trasaction_floor,total_floor,...,partition,mgmt,min_inci,min_hos,min_mrt,min_mart,min_gas,min_school,min_park,yearMonth
0,2,1,0,820504,1011122,19,115937.7118,30.878789,二層,十三層,...,1,1,3.216651,2.360415,6.347960,0.421408,0.259130,0.311712,0.082275,101-11
1,3,1,1,850923,1020204,17,234202.7068,59.350563,二十四層,三十層,...,1,1,8.482000,1.320465,0.893130,0.957701,0.794212,0.069713,0.854684,102-02
2,6,1,0,700820,1031209,33,103878.1534,24.066766,二層,二層,...,1,0,2.242399,3.157690,7.202395,1.384427,1.237124,1.259014,0.942919,103-12
3,7,1,0,690325,1040913,35,110000.4950,73.568000,全,二層,...,1,0,2.096059,3.258152,7.277277,1.657483,1.468159,1.413863,1.211620,104-09
4,8,1,0,690325,1090923,40,99940.9456,80.047632,全,二層,...,1,0,2.094389,3.259394,7.277268,1.665824,1.474884,1.416363,1.219951,109-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233663,367014,28,1,870210,1040729,17,74909.4280,76.092230,全,四層,...,1,0,4.398002,2.514017,8.333632,1.433443,0.262413,0.133083,0.240132,104-07
233664,367015,28,1,870210,1100329,23,209769.5390,69.123790,二層，三層，四層,四層,...,1,0,4.403582,2.505987,8.340752,1.441099,0.271113,0.130807,0.232397,110-03
233665,367016,28,1,870210,1090608,22,210586.0716,68.285930,二層，三層，四層,四層,...,1,0,4.389162,2.499071,8.329609,1.431733,0.273903,0.113285,0.224624,109-06
233666,367017,28,0,780615,1020804,24,114698.0368,36.618050,五層,五層,...,1,0,3.198488,2.308803,7.106325,0.309806,0.361038,0.450016,0.522547,102-08
233667,367018,28,0,860625,1020618,16,106949.2416,18.700540,五層,七層,...,1,0,4.752600,2.260364,8.279950,1.700334,0.524938,0.120486,0.493112,102-06

In [3]:
data.columns

Index(['id', 'section', 'parking_space', 'construction_time', 'trade_time',
       'age', 'unit_price_ping', 'area', 'trasaction_floor', 'total_floor',
       'floor', 'type', 'room', 'lr', 'bath', 'partition', 'mgmt', 'min_inci',
       'min_hos', 'min_mrt', 'min_mart', 'min_gas', 'min_school', 'min_park',
       'yearMonth'],
      dtype='object')

In [4]:
data.yearMonth.value_counts()

102-07    4733
102-10    4438
102-11    4394
102-05    4165
102-03    4108
          ...
102-00       1
99-11        1
99-08        1
99-03        1
90-72        1
Name: yearMonth, Length: 150, dtype: int64

In [5]:
# 長度7也是有格式錯誤的
data[data.yearMonth == '102-00']

,id,section,parking_space,construction_time,trade_time,age,unit_price_ping,area,trasaction_floor,total_floor,...,partition,mgmt,min_inci,min_hos,min_mrt,min_mart,min_gas,min_school,min_park,yearMonth
13600,16593,3,0,1011031,1020000,1,322662.609,40.289944,八層,十層,...,1,1,8.635804,1.455116,1.080314,0.525848,0.671512,0.726854,0.139126,102-00

In [6]:
data[data.trade_time.astype(str).str.contains(r'([0-9]{3}[0-1][0-9][0-3][0-9])')]

C:\Users\admin\AppData\Local\Temp/ipykernel_35732/2989269502.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  data[data.trade_time.astype(str).str.contains(r'([0-9]{3}[0-1][0-9][0-3][0-9])')]

,id,section,parking_space,construction_time,trade_time,age,unit_price_ping,area,trasaction_floor,total_floor,...,partition,mgmt,min_inci,min_hos,min_mrt,min_mart,min_gas,min_school,min_park,yearMonth
0,2,1,0,820504,1011122,19,115937.7118,30.878789,二層,十三層,...,1,1,3.216651,2.360415,6.347960,0.421408,0.259130,0.311712,0.082275,101-11
1,3,1,1,850923,1020204,17,234202.7068,59.350563,二十四層,三十層,...,1,1,8.482000,1.320465,0.893130,0.957701,0.794212,0.069713,0.854684,102-02
2,6,1,0,700820,1031209,33,103878.1534,24.066766,二層,二層,...,1,0,2.242399,3.157690,7.202395,1.384427,1.237124,1.259014,0.942919,103-12
3,7,1,0,690325,1040913,35,110000.4950,73.568000,全,二層,...,1,0,2.096059,3.258152,7.277277,1.657483,1.468159,1.413863,1.211620,104-09
4,8,1,0,690325,1090923,40,99940.9456,80.047632,全,二層,...,1,0,2.094389,3.259394,7.277268,1.665824,1.474884,1.416363,1.219951,109-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233663,367014,28,1,870210,1040729,17,74909.4280,76.092230,全,四層,...,1,0,4.398002,2.514017,8.333632,1.433443,0.262413,0.133083,0.240132,104-07
233664,367015,28,1,870210,1100329,23,209769.5390,69.123790,二層，三層，四層,四層,...,1,0,4.403582,2.505987,8.340752,1.441099,0.271113,0.130807,0.232397,110-03
233665,367016,28,1,870210,1090608,22,210586.0716,68.285930,二層，三層，四層,四層,...,1,0,4.389162,2.499071,8.329609,1.431733,0.273903,0.113285,0.224624,109-06
233666,367017,28,0,780615,1020804,24,114698.0368,36.618050,五層,五層,...,1,0,3.198488,2.308803,7.106325,0.309806,0.361038,0.450016,0.522547,102-08
233667,367018,28,0,860625,1020618,16,106949.2416,18.700540,五層,七層,...,1,0,4.752600,2.260364,8.279950,1.700334,0.524938,0.120486,0.493112,102-06

In [ ]:
data[data.trade_time.astype(str).str.contains(r'([0-9]{2}[0-1][0-9][0-3][0-9])')]

In [ ]:
data[data.construction_time.astype(str).str.contains(r'([0-9]{3}[0-1][0-9][0-3][0-9])')]

In [ ]:
data[data.construction_time.astype(str).str.contains(r'([0-9]{2}[0-1][0-9][0-3][0-9])')]

In [7]:
# 先把長度小於6的都篩掉(轉格式or剔除)
j = 0
for i in range(len(data)) :   
    if len(data.construction_time[i].astype(str)) < 6 :
        if len(data.construction_time[i].astype(str)) == 4 :
            data.construction_time[i] = data.construction_time[i].astype(str)+'00'
            print(data.construction_time[i])
        elif data.construction_time[i].astype(str) == '90909' :
            data.construction_time[i] = '900909'
        else : 
            data.construction_time[i] = '1100100'
        j += 1
        
    else :
        continue
print(j)

C:\Users\admin\AppData\Local\Temp/ipykernel_35732/4094306744.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.construction_time[i] = data.construction_time[i].astype(str)+'00'

650400
660400
660400
660400
570500
570500
570500
660400
660800
660800
650800
650800
660100
540100

C:\Users\admin\AppData\Local\Temp/ipykernel_35732/4094306744.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.construction_time[i] = '900909'
C:\Users\admin\AppData\Local\Temp/ipykernel_35732/4094306744.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.construction_time[i] = '1100100'

16

In [8]:
# 確認有無少於長度6的日期
j = 0
for i in range(len(data)) :   
    if len(data.construction_time[i].astype(str)) < 6 :
        j += 1
        print(data.construction_time[i])
        
    else :
        continue
print(j)

0

In [9]:
# 確認trade_time有無小於長度6的日期
j = 0
for i in range(len(data)) :   
    if len(data.trade_time[i].astype(str)) < 6 :
        j += 1
        print(data.trade_time[i])
        
    else :
        continue
print(j)

90723
1

In [10]:
data[data.trade_time == 90723]

,id,section,parking_space,construction_time,trade_time,age,unit_price_ping,area,trasaction_floor,total_floor,...,partition,mgmt,min_inci,min_hos,min_mrt,min_mart,min_gas,min_school,min_park,yearMonth
194644,293605,24,1,1021018,90723,-93,559407.476,60.02807,十三層,二十八層,...,1,1,5.259445,0.898567,0.277564,0.16025,0.195572,0.407757,0.184555,90-72

In [11]:
# 刪除長度5單一筆資料
data = data.drop(index = {194644})

In [12]:
data = data.reset_index(drop = True) # 不設drop = True的話會把index也加進column

In [13]:
# 再次確認
j = 0
for i in range(len(data)) :   
    if len(data.trade_time[i].astype(str)) < 6 :
        j += 1
        print(data.trade_time[i])
        
    else :
        continue
print(j)

0